@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- SCROLLBAR GLOBAL -------- */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(106, 115, 125, 0.4) transparent;
}

@supports (scrollbar-gutter: stable) {
  * {
    scrollbar-gutter: stable both-edges;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #dbeafe;
}

.custom-scrollbar:hover {
  scrollbar-color: #1d4ed8 #bfdbfe;
}

/* -------- FONDO GLOBAL (modo claro/oscuro real en toda la página) -------- */
html, body {
  @apply bg-gray-50 text-gray-800;
}
body.dark {
  @apply bg-gray-900 text-white;
}
